div{
    text-align: center;
}

button{
    height: 2.5em;
    width: 5.5em;
    border:none;
   color:aliceblue
}

button:hover{
    cursor:pointer;
}

.start-btn{
    background-color: cadetblue;
}

.pause-btn{
    background-color:cornflowerblue;
}

.stop-btn{
    background-color: cadetblue;
}